{%extends 'optionhouseapp/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>Log In Page</h1>

<form method="POST" action="{%url 'login'%}">
    {%csrf_token%}
    <legend>Register</legend>
    {{ form |crispy }}
    <input type="submit" value="Log In">
</form>

{%endblock content%}