{%extends 'optionhouseapp/base.html'%}

{%block content%}
    <h1>About Me</h1>
    <h5>kevinhudgens</h5>
    <p>
        I was born in Washington, DC, and raised in South Carolina for most of my life. I grew up in a single-parent household. There is where I learned why financial stability is essential. Times were hard for us for some periods of my life, but we were happy. At 16, I met a United States Marine Corps recruiter, and my life changed forever. I spent two years preparing to go to Recruit Training, and on July 14, 2013, I went to Marine Corps Recruit Training Depot Parris Island. Three months later, I became a United States Marine. To this day, April 28, 2019, is the proudest moment of my life.
        <br>
        <br>
        I served five years in the Marine Corps and four of those five in Okinawa, Japan. Where I met the love of my life, I got married on June 12, 2017. Before I got married, I just went along with life without seeking more of anything specifically. The Marine Corps paid me every two weeks, and I was comfortable. Once I got married, I took on the responsibility of an entirely different person. I promised to provide, and I planned to stick to that promise.
        <br>
        <br>
        One of my mentors gave me the book Rich Dad Poor Dad by Robert Kiyosaki, and it opened my eyes. It showed I didn't have to stay in the economic class that I was born in. That motivated me beyond anything, or anyone ever has. I began trading penny stocks as my first get out the scheme. Shortly after, I lost money because I didn't truly learn the chart analysis. I gave that up after a month, and then I began investing in stocks like Apple and Boeing, but that was too slow for me. The underlying asset would move one to two dollars over some weeks, but I knew they were more lucrative ways to work in the stock market.
        <br>
        <br>
        I learned about options from watching some financial education videos on YouTube. I heard about it and was immediately hooked. To make fifty to one hundred dollars off of an asset, moving one dollar was crazy to me, but I soon learned it was possible. Seeing it was possible to make money in the market no matter the condition the market was in. Green or red, a profit could be made. Once I exited the Marine Corps on July 15, 2018, I stayed in Japan as a contractor and continued to profit in the market trading options.
        <br>
        <br>
        I want everyone to trade options. It has opened to my eyes that no matter how small of a fish you think you are in the ocean, you can still catch any of the waves and become profitable like the big wigs. If someone were to become efficient and trade safely, financial freedom could be achieved. Even if freedom isn't reached, it's more than possible to make a profit and make that extra money to put away for a rainy day. That is why I created this site; I hope that I can help anyone reading realize one of the paths to financial freedom by using this resource.
    </p>
{%endblock content%}