{%extends 'optionhouseapp/base.html'%}

{%block content%}

    {% if user.is_authenticated %}
    <p class="lead">
        <a href="{%url 'post_form'%}">Create New Post</a>
    </p>
    {% endif %}

        <ul>
            {% for post in object_list %}
                <figure class="text-center">
                    <article>
                        <h4>{{post.author}}</h4>
                        <h3> <a href="{% url 'post-detail' post.id%}">{{post.title}}</a></h3>
                    </article>
                </figure>
            {% empty %}

                <h3>No Posts</h3>
                
            {% endfor %}
        </ul>

{%endblock content%}