{%extends 'optionhouseapp/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<!-- Content section of the detail view -->
    <div class='container'>
        {{object.image}} 
        <h4>{{object.title}}</h4> 
        <h6>{{object.author}}</h6> 
        <h6>{{object.date}}</h6>
        <p>{{object.content | linebreaks}}</p> 
    </div>

    <div class='container'>
        {% if user.is_authenticated and user == object.author %}
            <a href="{% url 'post-update' post.id %}">Update</a>
            <a href="{% url 'post-delete' post.id %}">Delete</a>
        {% endif %}
    </div>

{%endblock content%}