{%extends 'optionhouseapp/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

    <div class='container'>
        {{object.image}} <br>
        {{object.title}} <br>
        {{object.author}} <br>
        {{object.date}} <br>
        {{object.content}} <br>
    </div>

    <div class='container'>
        {% if user.is_authenticated and user == object.author %}
            <a href="{% url 'post-update' post.id %}">Update</a>
            <a href="{% url 'post-delete' post.id %}">Delete</a>
        {% endif %}
    </div>

{%endblock content%}